@tailwind base;
@tailwind components;
@tailwind utilities;


/* global css */
body {
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
}

/* ### Theme 1  */
.theme-1 {
    /* ### Background */
    --cl-main-background: hsl(222, 26%, 31%);
    /* and toggle background */
    --cl-keypad-background: hsl(223, 31%, 20%);
    --cl-screen-background: hsl(224, 36%, 15%);
    /* ### Keys */
    --cl-key-background: hsl(30, 25%, 89%);
    --cl-key-background-2: hsl(225, 21%, 49%);
    --cl-key-background-toggle: hsl(6, 63%, 50%);
    --cl-key-shadow: hsl(224, 28%, 35%);
    --cl-key-shadow-2: hsl(6, 70%, 34%);
    --cl-key-shadow-3: hsl(28, 16%, 65%);
    /* ### Text */
    --cl-text: hsl(221, 14%, 31%);
    --cl-text-2: hsl(0, 0%, 100%);
    --cl-text-3: hsl(0, 0%, 100%);
    --cl-text-4: hsl(0, 0%, 100%);
}

/* ### Theme 2  */
.theme-2 {
    /* ### Background */
    --cl-main-background: hsl(0, 0%, 90%);
    /* and toggle background */
    --cl-keypad-background: hsl(0, 5%, 81%);
    --cl-screen-background: hsl(0, 0%, 93%);
    /* ### Keys */
    --cl-key-background: hsl(45, 7%, 89%);
    --cl-key-background-2: hsl(185, 42%, 37%);
    --cl-key-background-toggle: hsl(25, 98%, 40%);
    --cl-key-shadow: hsl(185, 58%, 25%);
    --cl-key-shadow-2: hsl(25, 99%, 27%);
    --cl-key-shadow-3: hsl(35, 11%, 61%);
    /* ### Text */
    --cl-text: hsl(60, 10%, 19%);
    --cl-text-2: hsl(60, 10%, 19%);
    --cl-text-3: hsl(0, 0%, 100%);
    --cl-text-4: hsl(0, 0%, 100%);
}

/* ### Theme 3  */
.theme-3 {
    /* ### Background */
    --cl-main-background: hsl(268, 75%, 9%);
    /* and toggle background */
    --cl-keypad-background: hsl(268, 71%, 12%);
    --cl-screen-background: hsl(268, 71%, 12%);
    /* ### Keys */
    --cl-key-background: hsl(268, 47%, 21%);
    --cl-key-background-2: hsl(281, 89%, 26%);
    --cl-key-background-toggle: hsl(176, 100%, 44%);
    --cl-key-shadow: hsl(285, 91%, 52%);
    --cl-key-shadow-2: hsl(177, 92%, 70%);
    --cl-key-shadow-3: hsl(290, 70%, 36%);
    /* ### Text */
    --cl-text: hsl(52, 100%, 62%);
    --cl-text-2: hsl(52, 100%, 62%);
    --cl-text-3: hsl(0, 0%, 100%);
    --cl-text-4: hsl(198, 20%, 13%);
}

/* actual css */
main {
    background: var(--cl-main-background);
}

main>div {
    width: min(87vw, 540px);
}

.header {
    color: var(--cl-text-2)
}

#theme-range {
    -webkit-appearance: none;

    appearance: none;
    height: 1.55rem;
    padding: 0 .325rem;
    background: var(--cl-keypad-background);
}

#theme-range::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    height: 1.55rem;
    padding: 0 .325rem;
    border-radius: 50rem;
    background: var(--cl-keypad-background);
}

#theme-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--cl-key-background-toggle);
    width: 1rem;
    height: 1rem;
    border-radius: 500rem;
    cursor: pointer;
}

#theme-range::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    background: var(--cl-key-background-toggle);
    border: none;
    width: 1rem;
    height: 1rem;
    border-radius: 500rem;
    cursor: pointer;
}

.output-screen {
    color: var(--cl-text-2);
    background: var(--cl-screen-background);
}

/* keys */
.keys-container {
    background: var(--cl-keypad-background);
}

/* cal btns */
.cal-btns {
    background: var(--cl-key-background);
    color: var(--cl-text);
    border-radius: .5rem;
    padding-top: .75rem;
    padding-bottom: .5rem;
    box-shadow: inset 0 -6px 0 var(--cl-key-shadow-3);
    transition: all 250ms ease-in-out;
}

.cal-btns:hover {
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}

.cal-btns[value='del'],
.cal-btns[value='reset'] {
    background: var(--cl-key-background-2);
    color: var(--cl-text-3);
    box-shadow: inset 0 -6px 0 var(--cl-key-shadow);
}

.cal-btns[value='='] {
    background: var(--cl-key-background-toggle);
    color: var(--cl-text-4);
    box-shadow: inset 0 -6px 0 var(--cl-key-shadow-2);
}

.cal-btns[value='del']:hover,
.cal-btns[value='reset']:hover,
.cal-btns[value='=']:hover {
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}

/* footer */
footer {
    font-size: .9rem;
    color: var(--cl-text-3);
    background-color: var(--cl-keypad-background);
}

footer a {
    color: var(--cl-text-2);
}